.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 150px;
  align-items: center;
}

.experiencia div {
  align-self: center;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}

.empresa::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(15, 0, 191, 0) 0%,
    #2952e1 0.01%,
    #0f00bf 100%
  );
  left: -4px;
  top: 20px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}

/*Responsivo*/

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .empresa-ano::before {
    content: "Período: ";
    color: #000;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
